@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/*TARGETA DE COMODITIES DE LAS CABAÑAS*/
.card-container{
display: flex;
justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1600px;
    margin: 50px 100px;
    border-radius: 8px;
    overflow: visible;
}


.image-container {
    flex: 1 1 55%;
    justify-content: right;
    max-width: 90%;
    overflow: hidden;
    height: 650px;
    width: 90vw;
    object-fit: cover;
    background-position: center;
    box-shadow: -4px -9px 36px -25px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px -9px 36px -25px rgba(0,0,0,0.75);
-moz-box-shadow: -4px -9px 36px -25px rgba(0,0,0,0.75);
}

.responsive-image {
    width: 100%;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    background-position: center;
}

.content {
    flex: 1 1 45%;
    padding: 40px;
    background-color: #ede9e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content h2 {
    color: #e65a42;
    font-size: 35px;
    font-style: italic;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.content p {
    margin: 10px 0;
    font-size: 18px;
    color: #2c2c2c;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    color: #454545;
}

.content ul li {
    margin: 8px 0;
    font-size: 17px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}


/*FACILITIES*/

.facilities-container{
    display: flex;
    justify-content: center;
}

.facilities-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80vw;
    margin: 50px auto;
    border-radius: 8px;
    overflow: visible;
}


.facilities-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #ede9e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.facilities-content h2 {
    color: #e65a42;
    font-size: 35px;
    font-style: italic;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.facilities-content p {
    margin: 10px 0;
    font-size: 18px;
    color: #2c2c2c;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.facilities-content ul {
    list-style-type: disc;
    margin-top: 15px;
    color: #454545;
    display: flex;
    flex-direction: row;
}

.facilities-content ul li {
    margin: 8px 60px;
    font-size: 15px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.facilities-content ul li img{
    margin-top: 10px;
    display: block;
    height: 70px;
    width: 70;
}


/*SPACE BEETWEN*/

.space-beetwen{
    position: static;
    background-color: #d5ccaf;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.space-beetwen h2{
    color:#6a6a6a;
    font-weight: 400;
    font-size: 35px;
    font-family: "Prata";
}

.space-beetwen h4{
    color:#fbfbfb;
    font-weight: 500;
    font-family: "Edu AU VIC WA NT Hand";
}

/*TARGETA EXPERIENCIAS*/


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1600px;
    margin: 0 auto;
}

.text-section {
    flex: 1;
    margin-right: 20px;
    min-width: 350px;
}

.text-section h1 {
    color: #d35400;
    font-size: 36px;
}

.text-section p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-top: 20px;

}

.reserve-button {
    background-color: #d35400;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

.images-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1.5;
    height: auto;
}

.image {
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*SPACE BEETWEN*/

.space-beetwen{
    position: static;
    background-color: #d5ccaf;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.space-beetwen h2{
    color:#6a6a6a;
    font-weight: 400;
    font-size: 35px;
    font-family: "Prata";
}

.space-beetwen h4{
    color:#fbfbfb;
    font-weight: 500;
    font-family: "Edu AU VIC WA NT Hand";
}


/*  GALERIA DE IMAGENES */


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
    width: 100%;
    max-width: 1300px;
    margin: 10px auto 50px auto;
}

.gallery-item {
    overflow: hidden;
    border-radius: 1px;
    aspect-ratio: 5 / 6; /* Esto establece una proporción para mantener la altura equilibrada */
    box-shadow: -8px 12px 20px -14px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 12px 20px -14px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 12px 20px -14px rgba(0,0,0,0.75);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}



/* ------------------------------ MODAL ----------------------------- */


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.modal-slide {
    display: none;
    max-width: 75%;
    max-height: 75%;
}

.modal-slide img {
    width: 100%;
    height: 80vh;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    color: #f2f2f2;
}


@media (max-width: 870px) {
    /*TARGETA EXPERIENCIAS*/

    .images-section{
        width: 90vw;
    }

    .image {
        overflow: hidden;
        width: 100%;
        height: 450px;
        max-width: 90vw;
        margin: 0 auto 25px auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        object-fit: cover;
    }
    

    /*NUESTROS SERVICIOS*/

    .image-container{
        display: flex;
        flex: 1;
        width: 100%;
        max-width: 100%;
        height: 0px;
    }

    .image-container img{
        object-fit: cover;
    }

    .responsive-image{
        height: 320px;
    }

    .card{
        width: 90vw;
        margin: 50px 0;
        display: flex;
        flex-direction: column;
    }

    .content{
        flex: 1;
        padding: 20px;
        width: 90vw;
    }


    /*INSTALACIONES*/
    .facilities-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .facilities-content ul li{
        margin: 20px auto;
    }

    .facilities-card{
        width: 90vw;
        margin: 50px auto;
    }

    .facilities-content{
        padding: 40px 0; 
        width: 90vw;
        flex-direction: column;
    }

    .container{
        flex-direction: column-reverse;
    }
    /*SPACE BEETWEN*/

    .space-beetwen{
        position: static;
        background-color: #d5ccaf;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;        
}
        
    .space-beetwen h2{
        color:#6a6a6a;
        font-weight: 400;
        font-size: 25px;
        font-family: "Prata";
    }
        
    .space-beetwen h4{
        color:#fbfbfb;
        font-weight: 500;
        font-size: 18px;
        font-family: "Edu AU VIC WA NT Hand";
    }

    /*EXPERIENCIAS RESPONSIVE*/

    .container .image:nth-child(2) {
        display: none;
        visibility: hidden;
    }


    /*SPACE BEETWEN*/

    .space-beetwen{
        position: static;
        background-color: #d5ccaf;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .space-beetwen h2{
        color:#6a6a6a;
        font-weight: 400;
        font-size: 25px;
        font-family: "Prata";
    }
    
    .space-beetwen h4{
        color:#fbfbfb;
        font-weight: 500;
        font-size: 18px;
        font-family: "Edu AU VIC WA NT Hand";
    }

    
    /* GALERIA IMAGENES */


    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: 15px;
        width: 90vw;
        margin: 0 auto 25px auto;
    }

    .gallery-item {

        aspect-ratio: 5 / 5; /* Esto establece una proporción para mantener la altura equilibrada */
    }




    /* --------------MODAL-----------------*/
    .prev, .next {
        font-size: 20px;
    }

    .modal-slide img {
        height: 50vh;
    }

    .modal-slide {
        display: none;
        max-height: 35%;
    }
}