
/*IMAGENES INDEX*/

#images-container img{
    max-width: 100%;
}

#images-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1fr 1fr;
    grid-gap: 10px;
    margin: 60px 4%;
    height: 700px;
    max-height: 700px;
}

.images{
    position: relative;
    overflow: hidden;
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
}

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    display: block;
}

.images.small:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-height: 350px;
}

.images.small:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-height: 350px;
}

.images.large {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-height: 710px;
}


.images-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

/*TARGETA CONOCE MAS*/

.conoce-mas-container{  
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}


.img-conoce-mas img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-position: center;
}

.img-conoce-mas{
    margin: 60px 4% ;
    overflow: hidden;
    height: 700px;
    width: 60vw;
    margin-left: 70px;
    justify-content: right;
    box-shadow: 1px 4px 29px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 29px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 29px -6px rgba(0,0,0,0.75);
}

.conoce-mas-text{
    position: absolute;
    top: 230px;
    left: 60vw;
    width: 35vw;
    height: 350px;
    max-height: 300px;
    background: rgba(255, 255, 255, 1);
    padding: 40px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
}

.balnearios-text{
    top: 230px;
    right: 60vw;
    left: 4%;
}


.balnearios{
    justify-content: right;
}

.conoce-mas-text h2{
    margin: 0;
    font-size: 2em;
    color: #333;
}

.conoce-mas-text h3{
    margin: 10px 0;
    color: #666;
}

.conoce-mas-text h4{
    margin: 15px 0 25px 0;
    color: #666;
}

.conoce-mas-text a{
    margin: 20px 0;
    text-decoration: none;
    padding: 10px 30px;
    background: #d35400;
    color: white;
    position: static;
    border: none;
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.1s;
}

.conoce-mas-text a:hover{
    background: #e67e22;
    padding: 10px 32px;
}

/*SPACE BEETWEN*/

.space-beetwen{
    position: static;
    background-color: #d5ccaf;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.space-beetwen h2{
    color:#6a6a6a;
    font-weight: 400;
    font-size: 35px;
    font-family: "Prata";
}

.space-beetwen h4{
    color:#fbfbfb;
    font-weight: 500;
    font-family: "Edu AU VIC WA NT Hand";
}

.image-beetwen{
    position: relative;
    background-image: url(sierras-img.jpeg);
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.image-beetwen-text{
    height: 180px;
    margin-left: 30px;
    width: 40vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(205, 205, 205, 0.7);
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
}


.image-beetwen-text h2{
    font-size: 1.6rem;
}

.image-beetwen-text h3{
    font-size: 1rem;
    color: #c70808;
}


/*MEDIA SCREEN PARA CELULAR NAV-BAR*/
@media screen and (max-width: 870px) {
/*IMAGES CONTAINER PARA CELULAR*/

    *{
        overflow: visible;
    }

    #images-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr;
        grid-gap: 15px;
        margin: 30px 4%;
        height: 800px;
    }

    .images img {
        width: 100%;
        object-fit: cover; /* Mantén el ajuste de objeto */
    }

    .images.large,
    .images.small:nth-child(3),
    .images.small:nth-child(2) {
        grid-column: 1 / 2; /* Las imágenes ocuparán toda la fila */
        grid-row: auto; /* Resetea la fila */
    }


    /*TARGETA CONOCE MAS*/

.conoce-mas-container{  
    position: relative;
    margin: 30px 4%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-conoce-mas img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-position: center;
}

.img-conoce-mas{
    margin: 0;
    overflow: hidden;
    max-height: 250px;
    width: 80vw;
    justify-content: center;
    box-shadow: 1px 4px 29px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 29px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 29px -6px rgba(0,0,0,0.75);
}

.conoce-mas-text, .balnearios-text{
    position: relative;
    left: 0;
    top: 0;
    width: 80vw;
    max-height: 200px;
    background: rgba(255, 255, 255, 1);
    padding: 15px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    font-size: 14px;
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
}


.conoce-mas-text h2{
    margin: 0;
    font-size: 2em;
    color: #333;
}

.conoce-mas-text h3{
    margin: 5px 0;
    color: #666;
}

.conoce-mas-text h4{
    margin: 10px 0 25px 0;
    color: #666;
}

.conoce-mas-text a{
    margin: 15px 0;
    text-decoration: none;
    padding: 10px 30px;
    background: #d35400;
    color: white;
    position: static;
    border: none;
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.1s;
}

.conoce-mas-text a:hover{
    background: #e67e22;
    padding: 10px 32px;
}
    /*SPACE BEETWEN*/

    .space-beetwen{
        position: static;
        background-color: #d5ccaf;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .space-beetwen h2{
        color:#6a6a6a;
        font-weight: 400;
        font-size: 25px;
        font-family: "Prata";
    }
    
    .space-beetwen h4{
        color:#fbfbfb;
        font-weight: 500;
        font-size: 18px;
        font-family: "Edu AU VIC WA NT Hand";
    }

    /*IMAGE BEETWEN*/
    
    .image-beetwen{
        position: relative;
        background-image: url(sierras-img.jpeg);
        height: 250px;
        width: 100%;

        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .image-beetwen-text{
        margin-left: 0;
        height: 150px;
        width: 70vw;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        background-color: rgba(205, 205, 205, 0.6);
        box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    }
    
    
    .image-beetwen-text h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .image-beetwen-text h3{
        font-size: 15px;
    }
    
    /*SEGUINOS EN IG RESPONSIVE*/

}