@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Jacquard+12+Charted&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

body{
    background-color:  #f9faf6;
    font-size: 20px;
}

/*-------------nav bar---------------*/

header .logo img{
    width: auto;
    height: 53px;
    border-radius: 50px;
}

header .logo{
    padding-top: 5px;
}

.nav_container{
    display: flex;
    background-color: #778e69;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 4%;
    gap: 20px;
}

.nav_links a{
    color: #ffffffff;
    list-style: none;
    text-decoration: none;
    font-family: "EB Garamond", serif;
  font-weight: 600;
  transition: 200ms;
  display: flex;
  align-items: end;
  font-size: 20px;
}

.nav_links a:hover{
    color: #e5ebba;

}

.nav_container .nav_links li, .button_contactanos{
    display: inline-block;
    flex-direction: row;
    padding:  0 10px;
    transition: 200ms;
}


.nav_container .nav_links li:hover{
    transform: scale(1.02);
}

.nav_links  {
    margin-left: 55px;
    gap: 20px;
    
}

.button_contactanos button{
    border-radius: 50px;
    padding: 8px 12px;
    margin-right: -25px;
    font-size: 15px;
    border: none;
    background-color: #fcfafa;
    transition: background-color 0.3s cubic-bezier(0.3, 0, 0.5, 1);
}

.button_contactanos button:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
}
  

.button_contactanos button:active {
    background-color: #e7ebf0;
    box-shadow: rgba(10, 10, 10, 0.233) 0 1px 0 inset;
    transition: none 0s;
}

 .button_contactanos button:focus {
    outline: 1px transparent;
  }

.button_contactanos button{
    display: inline-block;
}

.abrir_menu, .cerrar_menu{
    display: none;
}

.second-overlay {
    display: none;
}

/*BOTON WHATSAPP*/

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366; /* Color de WhatsApp */
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #1DA851; /* Color al pasar el cursor */
}

.whatsapp-button img {
    width: 60%;
    height: 60%;
    display: block;
}

.whatsapp-button:active {
    transform: scale(0.9);
}


/*TITULO INDEX*/

.background-container{
    background-image: url(sierras-img.jpeg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    box-shadow: 1px 4px 19px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 19px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 19px -6px rgba(0,0,0,0.75);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Color negro con 30% de opacidad */
    z-index: 1;
}

.slogan {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centrado */
    color: white;
    text-align: center;
    z-index: 50;
}

.slogan h2{
    margin: -10px; /* Elimina cualquier margen por defecto */
    padding: 10px 0; /* Espaciado opcional entre títulos */
    font-family: "Bebas Neue";
    letter-spacing: 9px;
    font-size: 45px;
}

.slogan h4{
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 17px;
}

/*SEGUINOS EN INSTAGRAM*/

.instagram{
    position: static;
    background-color: #d5ccaf;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.instagram h2{
    color:#6a6a6a;
    font-weight: 400;
    margin: 25px 0 0px 0;
    font-size: 35px;
    font-family: "Prata";
}


.instagram a{
    color:#bb4a4a;
    font-weight: 500;
    font-family: "Prata";
}

.instagram-pics{
    height: 450px;
    width: 100%;
    padding: 15px 150px;
    gap: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.ig-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background-position: 60%;
}

.ig-container{
    margin: 13px;
    width: 100%; /* Ajusta el tamaño según tu diseño */
    height: 95%;
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
    position: relative;
    background-color: rgba(205, 205, 205, 0.7);
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75); 
}

.ig-container img:hover{
    transform: scale(1.06);
    overflow: hidden;
}


/*Footer-------------------------------->>>>>>>>*/

.pie-pagina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #353535;
}

.pie-pagina h3{
    font-family: "Lexend", sans-serif;    
    font-weight: 500;
    font-size: 15px;
    color: #f48e1bdd;
    margin-right: 20px;
    cursor: default;
}

.pie-pagina h2{
    font-family: "Prata";
    font-size: 20px;
    margin: 10px 0 13px 0;
    color: #e5e5e5dd;
}

.msj-icon, .email-icon{
    display: flex;
    flex-direction: row;
}

.footer-ubicacion a, .footer-ubicacion a h3{
    color: #d83434;
    display: flex;
    margin: 0 0;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}

.footer-ubicacion a:hover h3{
    color: #a02525;
}

.footer-email, .footer-msj, .footer-ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: default;
}

#icon, #iconEmail{
    font-size: 17px;
    margin: -5px;
    background-color: #353535;
    color: #ffffff;
    padding: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;


    border-radius: 5px;
    box-shadow: -8px 8px 11px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 8px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 8px 11px -2px rgba(0,0,0,0.75);

}


/*MEDIA SCREEN PARA CELULAR NAV-BAR*/
@media screen and (max-width: 870px) {

    *{
        overflow-x: visible;
    }
    nav{
        opacity: 0;
        visibility: hidden;
        position:fixed;
        right: -300px;

        height: 100%;
        display: flex;
        top: 0;
        background-color: #d9dfcc;
        padding: 2rem 3.5rem;
        z-index: 100;
        transition: 0.5s;
    }

    header .logo img{
        width: auto;
        height: 60px;
        border-radius: 50%;
    }
    
    header .logo{
        padding-top: 5px;
    }

    .button_contactanos{
        position: fixed;
        
        display: flex;
        justify-content: center;
        bottom: 0;
        padding: 3.9rem;
        transition: 0.5s;
        right: -300px;
    }


    .nav_container .nav_links li, .button_contactanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        align-items: center;
    }

    .nav_container, .button_contactanos{
        z-index: 200;
    }

    .abrir_menu{
        display: block;
        visibility: visible;
        border-radius: 3px;
        border: 0;
        width: 70px;
        background-color: transparent;
        cursor: pointer;
        color: white;
        font-size: 30px;
    }

    .abrir_menu_oculto{
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    .second-overlay {
        display: block;
        position: fixed;
        top: 0;
        right: -860px; /* Comienza fuera de la pantalla */
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2); /* Color negro con 90% de opacidad */
        z-index: -10;
        opacity: 0; /* Oculto inicialmente */
        transition: right 0.2s ease, opacity 0.8s ease;
    }
    
    .second-overlay-visible {
        right: 0; /* Desliza la barra hacia la posición visible */
        opacity: 1; /* Hace que el overlay sea visible */
        z-index: 10;
    }

    .cerrar_menu{
        display: none;
        border-radius: 0;
        position: fixed;
        border: 0;
        right: 15px;
        width: 70px;
        background-color: transparent;
        cursor: pointer;
        color: rgb(165, 165, 165);
        font-size: 40px;
        z-index: 300;
        transition: ease-in .2s;
    }
    
    .cerrar_menu:hover{
        color: rgb(138, 138, 138);
    }

    .cerrar_menu_visible{
        display: block;
    }

    .nav-visible{
        opacity: 1;
        visibility: visible;
        position: fixed;
        overflow: hidden;
        right: 0;
    }

    .button-contactanos-visible{
        opacity: 1;
        visibility: visible;
        position: fixed;
        right: 75px;
        overflow-x: hidden;
    }
    .nav_links li{
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        width: 200px;
        height: 40px;
        transition: 0.5s;
        overflow-x: visible;
        margin: 50px 20px;

    }

    .nav_links li:hover{
        background-color: rgb(194, 194, 194);
        overflow-x: visible;

    }

    .nav_links{
        margin: 0;
    }

    #selected{
        background-color: rgb(163, 163, 163);
    }

    #selected:hover{
        background-color: rgb(128, 128, 128);
        z-index: 500;
        overflow-x: visible;

    }


    /*SEGUINOS EN INSTAGRAM*/

    .ig-container:nth-child(3), .ig-container:last-child{
        visibility: hidden;
        display: none;
    }

    .instagram{
        height: 400px;
        
    }


    .instagram-pics{
        height: 400px;
        width: 100%;
        padding: 15px 0;
        gap: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: row;
        overflow: hidden;
        position: relative;
    }



    .instagram h2{
        color:#6a6a6a;
        font-weight: 400;
        margin: 25px 0 0px 0;
        font-size: 25px;
        font-family: "Prata";
    }
    
    .instagram a{
        color:#bb4a4a;
        font-weight: 500;
        font-family: "Prata";
        font-size: 20px;
    }



    /*FOOTER RESPONSIVE*/

    .footer-email, .footer-msj, .footer-ubicacion{
        align-items: center;
    }

    .pie-pagina h2{
        font-size: 15px;
    }

    .pie-pagina h3{
        font-size: 12px;
    }

    .pie-pagina{
        padding: 10px 0 20px 0;
    }

    #icon, #iconEmail, .pie-pagina button{
        font-size: 11px;
        margin-left: -5px;
        
    }

    .email-icon,.msj-icon{
        display: flex;
        direction: row;
        align-items: center;
    }

}